<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- LOGBACK logging config file, see http://logback.qos.ch/manual/joran.html -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
			<Pattern>%-5level %msg [%logger{16} %d{HH:mm:ss}]%n</Pattern>
		</layout>
	</appender>

	<appender name="TIME_BASED_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/logs/timeBasedlogFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>alertas_enchentes_api.%d{yyyy-MM-dd-HH-mm}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="TIME_BASED_FILE" />
	</root>
	<logger name="org.apache" level="WARN" />
	<logger name="org.apache.axis2" level="WARN" />
	<logger name="org.apache.axiom" level="WARN" />
	<logger name="httpclient.wire" level="WARN" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
</configuration>